{:site-title                   "Technical Difficulties"
 :author                       "Fujimotok"
 :description                  "This blog is tech note."
 :site-url                     "https://fujimotok.github.io/"
 :post-root                    "posts"
 :page-root                    "pages"
 :post-root-uri                "posts"
 :page-root-uri                "pages"
 :tag-root-uri                 "tags"
 :author-root-uri              "authors"
 :public-dest                  "public"
 :blog-prefix                  ""
 :rss-name                     "feed.xml"
 :rss-filters                  ["cryogen"]
 :recent-posts                 3
 :post-date-format             "yyyy-MM-dd"
 :archive-group-format         "yyyy MMMM"
 :sass-src                     []
 :sass-path                    "sass"
 :theme                        "nucleus"
 :resources                    ["img" "font"]
 :keep-files                   [".git"]
 :disqus?                      true
 :disqus-shortname             "technical-difficulties"
 :ignored-files                [#"\.#.*" #".*\.swp$"]
 :previews?                    false
 :posts-per-page               5
 :blocks-per-preview           2
 :clean-urls                   :trailing-slash
 :collapse-subdirs?            false
 :hide-future-posts?           true
 :klipse                       {}
 :description-include-elements #{:p}
 :debug?                       false}
